/* Import AD Icon from CDN */
@import url('https://cdn.aidandigital.com/ad-icon/css/fontello-embedded.css');

/* Must be applied to ::before since that is how the font is applied to the <i> element by Fontello */
.icon-ad::before {
    background-image: linear-gradient(to bottom right, rgb(44, 89, 250), rgb(44, 195, 250));
    color: transparent;
    background-clip: text;
}